<h1>Dodaj nowy element</h1>

<form enctype="multipart/form-data" method="post" action="/add" id="modify">
    <label>Tytuł: <input type="text" name="title" value=""></label>
    <label>Zdjęcie: <input type="file" required accept="image/*" name="imagetoupload"></label>
    <label>Ocena filmu: <select name="stars">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select></label>
    <label>Długość: <input type="number" name="length"></label>
    <label style="position: relative; height: 170px;"><span style="position: absolute; top: 0px;">Dodaj opis filmu:</span><textarea style="position: absolute; left: 130px;" rows="10" cols="30" name="description"> 
    </textarea> </label> 
    <input type="submit" id="last">
</form>