<script>
    $(document).ready(function () {
        $("#slider").on("click", function (){
            window.location.replace("http://localhost:3000/")
        })
        //funkcja przy załadowaniu body
        function init(){
            myArray = $('.stars');
            for(var i=0; i<myArray.length;i++){
                var inside= ""
                for(var j=0; j<parseInt(myArray[i].innerHTML); j++){
                    inside+="<span class='fa fa-star checked'></span>"
                }
                for(var j=0; j<(5-parseInt(myArray[i].innerHTML)); j++){
                    inside+="<span class='fa fa-star'></span>"
                }
                myArray[i].innerHTML = inside
            }
        }
//po załadowaniu strony
    init()
})
</script>
<div id="slider">
    <h1> Oglądamy </h1>
</div>
<div id="find">
        <form action="/AddElement" method="GET" style="margin-bottom: 20px;">
    <input type="submit" value="Dodaj element" class="yellowbutton">
    </form>
        <form action="/logout" method="GET" id="logout">
            <input type="submit" value="Wyloguj" class="yellowbutton">
    </form>
</div>

    {{#each films}}
    <section class="list">
        <div class="content">
            <img style="height: 253px; color: white; width: 175px;" alt="{{description}}" src="{{img_url}}">
            <div class="filminf">
                <h1 class="title">{{title}}</h1>
                <span>{{time length}}</span>
                <span class="stars">{{stars}}</span>
                <span class="StartDescription" id="{{@index}}_desc" style="font-size: 16px;">{{description}}</span>
            <form action="/remove" method="GET" style="display: inline-block"> 
                <input type="submit" value="usuń" class="yellowbutton">
                <input name="id" type="hidden" value="{{_id}}"/>
            </form>
            <form action="/modify" method="GET" style="display: inline-block;"> 
                <input type="submit" value="edytuj" class="yellowbutton">
                <input name="id" type="hidden" value="{{_id}}"/>
            </form>
            </div>
        </div>
    </section>
    {{/each}}
