<script>
    $(document).ready(function () {
        //funkcja przy załadowaniu body
        function init(){
            var clickedElements = 0;
            var correctClicked = 0;
            //tworzenie tła
            var tlo = $('<div>')
            tlo.attr('id', 'tlo');
            $("body").append(tlo)
            //tworzenie flex diva
            var flex = $('<div>')
            flex.attr('id', 'flex');
            $("body").append(flex)
            //tworzenie komunikatu dla użytkownika
            var h1 = $('<h1>')
            h1.attr('id','komunikat')
            h1.text("Kliknij 3 obrazki które do siebie pasują")
            $("#flex").append(h1)
            //losowanie folderu
            var num = Math.floor(Math.random() * 3 + 1)
            //tworzenie obrazków
            for(var i=1; i<=4; i++){         //operowanie pionowo na liczbach
                var img= $("<img>")
                $("#flex").append(img.addClass("prompts").attr("id",i).attr("alt","x").attr("src","gfx/captcha"+num+"/"+i+".jpg"))
                img.on("click", function () {
                    $(this).off();
                    $(this).addClass("smoothclick")
                    if($(this).hasClass("true"))
                        correctClicked++;
                    clickedElements++
                    if(clickedElements == 3){
                        $(".prompts").off();
                        if(correctClicked==3){
                            var h1 = $('<h1>')
                            h1.attr('id','komunikatBottom')
                            h1.text("prawidłowo rozwiązana Captcha")
                            $("#flex").append(h1)
                            setTimeout(function(){
                                $( "#flex" ).remove();
                                $("#tlo").remove()
                            }, 2000);
                        }else{
                            var h1 = $('<h1>')
                            h1.attr('id','komunikatBottom')
                            h1.text("Źle rozwiązana Captcha, spróbuj ponownie")
                            $("#flex").append(h1)
                            setTimeout(function(){
                                $( "#flex" ).remove();
                                $("#tlo").remove()
                                init()
                            }, 2000);
                        }
                    }
                })
                if(i != num)
                    img.addClass("true")
                else
                    img.addClass("false")
            }
        }
//po załadowaniu strony
    init()
})
</script>
<h1>{{text}}</h1>
<form action="/PanelAdmin" method="POST">
    <label>Login: <input type="text" name="login"></label>
    <label>hasło: <input type="password" name="password"></label>
    <input type="submit">
</form>


