<script>
    $(document).ready(function () {
        $("#fillDescription").on("click", function(){
            $("#descModify").html( $(".StartDescription")[0].innerText )
            return false;
        })

        $("#fillLength").on("click", function(){
            $("#lengthModify").val( parseInt($("#lengthDirect").html()) )
            return false;
        })

        $("#fillTitle").on("click", function(){
            $("#titleModify").val( $(".title")[0].innerHTML )
            return false;
        })


})
</script>
<h1>Edytuj obiekt: </h1>
<h2>{{title}}</h2>

<form enctype="multipart/form-data" method="post" action="/handleUpload" id="modify">
    <input name="id" type="hidden" value="{{_id}}"/>
    <input name="index" type="hidden" value="{{index}}"/>
    <label>Zmień tytuł: <input type="text" name="title" placeholder="{{title}}" value="" id="titleModify"> <button id="fillTitle">Uzupełnij danymi</button></label>
    <label>Dodaj zdjęcie: <input type="file" required accept="image/*" name="imagetoupload"></label>
    <label>Zmień ocene filmu: <select name="stars">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select></label>
    <label>Zmień długość: <input type="number" name="length" placeholder="{{length}}" id="lengthModify"> <button id="fillLength">Uzupełnij danymi</button></label>
        <label style="position: relative; height: 170px; width: 500px;"><span style="position: absolute; top: 0px;">Dodaj opis filmu: <br> <button id="fillDescription">Uzupełnij danymi</button></span><textarea style="position: absolute; left: 130px;" rows="10" cols="30" id="descModify" name="description"> 
    </textarea> </label>  
    <input type="submit" id="last">
</form>

<div class="content">
            <img style="height: 253px; color: white; width: 175px;" alt="{{description}}" src="{{img_url}}">
            <div class="filminf">
                <h1 class="title">{{title}}</h1>
                <span> Czas: {{time length}}</span>
                <span id="lengthDirect" style="display: none;">{{length}}</span>
                <span class="stars">Ocena: {{stars}}</span>
                <span class="StartDescription" id="{{@index}}_desc" style="font-size: 16px;">{{description}}</span>
            </div>
</div>