<script>
    $(document).ready(function () {
        $("#slider").on("click", function (){
            window.location.replace("http://localhost:3000/")
        })
        $('body').css("background-image", "url('../gfx/background.jpg')")
        $('body').css("background-size", "cover")
        $(".leftPanelFilm").height($(".rightPanelFilm").height())
        $(window).on("resize", function(){
          $(".leftPanelFilm").height($(".rightPanelFilm").height())
        })
            myArray = $('.stars');
            for(var i=0; i<myArray.length;i++){
                var inside= "Ocena: "
                for(var j=0; j<parseInt(myArray[i].innerHTML); j++){
                    inside+="<span class='fa fa-star checked'></span>"
                }
                for(var j=0; j<(5-parseInt(myArray[i].innerHTML)); j++){
                    inside+="<span class='fa fa-star'></span>"
                }
                myArray[i].innerHTML = inside
            }
})
</script>
<div id="slider">
    <h1> Oglądamy </h1>
</div>
<div id="find" style="color: white;">
    <h1>{{film.title}}</h1>
</div>
<div style="min-width: 433px;">
    <img class="leftPanelFilm" alt="" src="../{{film.img_url}}">
    <div class="rightPanelFilm">
        <h2 class="stars">{{film.stars}}</h2> <br>
        <h2>Czas: {{time film.length}}</h2>
        <h2>Opis: {{film.description}}</h2>
        <h2>Tyle osób chce obejrzeć ten film: {{count}}</h2>
    </div>
</div>



