<script>
    $(document).ready(function () {
        $(".fullCart").on("click", function(){
            window.location.replace("http://localhost:3000/film/"+$(this).val())
        })
        var list = true
        $("#sortbutton").on("click", function(){
            $("#sort").addClass("sortShow")
            $("#sort").attr("id","")
        })
        $("#switch").on("click", function(){
            list= !list
            if(list){   //zmiana na liste
                $(".elements").addClass("list").removeClass("elements")
            }else{      //zmiana na obiekty
                $(".list").addClass("elements").removeClass("list")
                $(".ShowDescription").css("display","none")
            }
        })
        $( ".StartDescription" ).mouseenter(function() {
            var el=($(this).attr('id').split("_")[0])
            if( $("#"+el+"_descshow").css("display")=="none")
                 $("#"+el+"_descshow").css("display", "table")
            $("#"+el+"_descshow").css("visibility", "visible")
            $("#"+el+"_desc").css("color", "#171b27")
        })
        $( ".StartDescription" ).mouseleave(function() {
            var el=($(this).attr('id').split("_")[0])
            if( $("#"+el+"_descshow").css("display")=="table")
               $("#"+el+"_descshow").css("display", "none")                 
            $("#"+el+"_descshow").css("visibility", "hidden")
            $("#"+el+"_desc").css("color", "white")
        })
        $("#basketbutton").on("click", function(){
            //tworzenie tła
            var tlo = $('<div>')
            tlo.attr('id', 'tlo');
            $("body").append(tlo)
            tlo.css("background-color","#171b27")
            //tworzenie flex diva
            var flex = $('<div>')
            flex.attr('id', 'flex');
            $("body").append(flex)
            //tworzenie komunikatu dla użytkownika
            var h1 = $('<h1>')
            h1.attr('id','komunikat')
            h1.text("Zadecyduj co chcesz zrobić ze swoim koszykiem")
            $("#flex").append(h1)
            //tworzenie diva na clickanie
            var click = $('<div>')
            click.attr('id', 'click');
            $("#flex").append(click)
            $("#click").on("click", function(){
                $("#flex").remove()
                $("#tlo").remove()
                $("#click").remove()
            })
            //tworzenie okienka
            var div = $('<div>')
            $("#flex").append(div.attr("id","prompt"))
            $("#prompt").append("<div>"+"<h2>Wyświetl elementy które dodałeś do koszyka</h2>"+"<form action='/showBag' method='GET' id='middle' style='margin-top: 40px'>"+"<input type='submit' id='middle' class='yellowbutton' value='Pokaż listę do obejrzenia'>"+
            "</form>"+"</div>"+"<div>"+"<h2>Byłeś już kiedyś na naszej stronie? <br> Sprawdź zapisane filmy poniżej: </h2>"+"<form action='/showSavedBag' method='GET' style='margin-top: 40px'>"+
            "<input type='text' required name='nick'>"+"<input type='submit' class='yellowbutton' value='Pokaż listę do obejrzenia'>"+"</form>"+"</div>")    
            $("#click").css("display","block");
           
        })
        $("#slider").on("click", function (){
            window.location.replace("http://localhost:3000/")
        })
        //funkcja przy załadowaniu body
        function init(){
            titleArray = $(".title")
            for(var i=0; i<titleArray.length;i++){
                if(titleArray[i].innerHTML.length > 18){
                    console.log("x")
                    titleArray[i].style.fontSize = "25px"
                }
            }
            myArray = $('.stars');
            for(var i=0; i<myArray.length;i++){
                var inside= "Ocena: "
                for(var j=0; j<parseInt(myArray[i].innerHTML); j++){
                    inside+="<span class='fa fa-star checked'></span>"
                }
                for(var j=0; j<(5-parseInt(myArray[i].innerHTML)); j++){
                    inside+="<span class='fa fa-star'></span>"
                }
                myArray[i].innerHTML = inside
            }
        }
//po załadowaniu strony
    init()
})
</script>
<!-- Slider -->
<div id="slider">
    <h1> Oglądamy </h1>
</div>
<!-- search form -->
    <form action="/find" method="GET" id="find">
            <img src="../gfx/icons/basket.png" alt="x" id="basketbutton">
            <label id="substring"><input name="title" placeholder="Szukaj filmów"></label>
            <img src="../gfx/icons/down.png" alt="x" id="sortbutton">
    </form>
    <form action="/sort" method="GET" id="sort"> 
        <label>Sortuj według:
                <select name="sortType">
                    <option value="stars">Ocena</option>
                    <option value="title">Tytuł</option>
                </select>
            </label>
            <label> <input type="radio" name="sortMethod" onChange="document.getElementsByClassName('sortShow')[0].submit()" value="-1">Od największej</label>
            <label> <input type="radio" name="sortMethod" onChange="document.getElementsByClassName('sortShow')[0].submit()" value="1">Od najmniejszej</label>
    </form>
    <div id="switchPlace">
        <img src="gfx/icons/gallery.png" alt="x" id="switch"> 
    </div>
<!-- Dane -->
    {{#each films}}
    <section class="list">
        <div class="content">
            <img style="height: 253px; color: white; width: 175px;" alt="{{description}}" src="{{img_url}}">
            <div class="filminf">
                <h1 class="title">{{title}}</h1>
                <span>{{time length}}</span>
                <span class="stars">{{stars}}</span>
                <span class="StartDescription" id="{{@index}}_desc" style="font-size: 16px;">{{shortDescription description}}</span>
                <span class="ShowDescription" id="{{@index}}_descshow" style="font-size: 16px;">{{description}}</span>
                <form action="/addBag" method="GET" style="padding-top: 10px; margin-bottom: 28px; display: inline-block"> 
                    <input type="submit" class='yellowbutton' value="Dodaj do obejrzenia">
                    <input name="id" type="hidden" value="{{_id}}"/>
                    <input name="title" type="hidden" value="{{title}}">
                    <input name="length" type="hidden" value="{{length}}">
                    <input name="stars" type="hidden" value="{{stars}}">
                    <input name="img_url" type="hidden" value="{{img_url}}">
                </form>
                <button class='yellowbutton fullCart' style="margin-top: 5px margin-bottom: 28px;" value="{{index}}">Zobacz pełną stronę</button>
            </div>
        </div>
    </section>
    {{/each}}
<!-- Zmiana stron i stopka -->
<div id="footer">
    <form action="/changePage" method="GET" id="page">
    {{#each hyperlinks}}
        <label> <button type="radio" name="pageNumber" onChange="document.getElementById('page').submit()" value="{{@index}}">{{@this}}</button></label>
    {{/each}}
    </form>
</div>

