<script>
    $(document).ready(function () {
        var list = true
        $("#switch").on("click", function(){
            list= !list
            if(list){   //zmiana na liste
                $(".elements").addClass("list").removeClass("elements")
            }else{      //zmiana na obiekty
                $(".list").addClass("elements").removeClass("list")
            }
        })
        $("#slider").on("click", function (){
            window.location.replace("http://localhost:3000/")
        })
        //funkcja przy załadowaniu body
        function init(){
            myArray = $('.stars');
            for(var i=0; i<myArray.length;i++){
                var inside= ""
                for(var j=0; j<parseInt(myArray[i].innerHTML); j++){
                    inside+="<span class='fa fa-star checked'></span>"
                }
                for(var j=0; j<(5-parseInt(myArray[i].innerHTML)); j++){
                    inside+="<span class='fa fa-star'></span>"
                }
                myArray[i].innerHTML = inside
            }
        }
//po załadowaniu strony
    init()
})
</script>
<div id="slider">
    <h1> Oglądamy </h1>
</div>

<!-- search form -->
    <div id="find">
        <form action="/removeSavedList" method="GET"> 
            <input type="submit" value="Usuń z listy" class="yellowbutton">
            <input name="nick" type="hidden" value="{{nick}}"/>
        </form>
    </div>
    <div id="switchPlace">
        <img src="gfx/icons/gallery.png" alt="x" id="switch"> 
    </div>
    <h1>{{pasek}}</h1>
<!-- Dane -->
    {{#each films}}
    <section class="list">
        <div class="content" style="width: 70%; height: 90%;">
            <img alt="x" src="{{img_url}}" style="height: 232px; width: 170px;">
            <div class="filminf">
                <h1>{{title}}</h1>
                <span>{{time length}}</span>
                <span class="stars">{{stars}}</span>
                <form action="/removeSaved" method="GET"> 
                    <input type="submit" value="Usuń z listy" class="yellowbutton">
                    <input name="id" type="hidden" value="{{_id}}"/>
                    <input name="nick" type="hidden" value="{{nick}}"/>
                </form>
            </div>
        </div>
    </section>
    {{/each}}
<!-- Zmiana stron i stopka -->
<div id="footer">
</div>