
/*show,admin*/
td{
    text-align: center;
    border: 1px solid black;
}
#page button{
    margin: 0px;
    margin-right: 10px;
}
#page label{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
/*modify*/
#modify label{
    display: block;
    margin: 10px;
}
#last{
    display: block;
    margin: 10px;
}
#modify{
    display: block;
    float: left;
}
#preview{
    float: left;
    display: block;
}
/*showElement*/
#lewy{
    float: left;
    display: block;
}
#prawy{
    margin-left: 40px;
    float: left;
    display: block;
}
/*LoginForm*/
#tlo{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    opacity: 0.5;
    -moz-opacity:0.5;
    background-color: lightgray;
    z-index: 1;
}
#flex{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 5;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
#click{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    cursor:pointer;
}
.prompts{
    width: 20%;
    z-index: 4;
    border-radius: 8px;
    padding-bottom: 10px;
    display: inline-block;
    margin: auto;
    margin-top: 0px;
}

#komunikat{
    text-align: center;
    font-family: "Lato";
    width: 100%;
    font-size: 420%;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin-bottom: 0px;
}

#komunikatBottom{
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 270%;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.smoothclick{
    animation: smooth 0.5s;
}

@keyframes smooth{
	from{ width: 20%; }
     50% { width: 19.5%; }
     to { width: 20%; }
}
@-webkit-keyframes smooth{
	from{ width: 20%; }
     50% { width: 19.5%; }
     to { width: 20%; }
}

.stars{
    min-width: 80px;
}
.checked {
    color: orange;
}

#slider{
    margin: 0px;
    padding: 0px;
    width: 100%;
    Height: 40vh;
    min-height: 195px;
    min-width: 433px;
    background-image: url(../gfx/slider.jpg);
    background-size: cover;
    text-align: center;
    font: 55px 'Dancing Script';
    cursor:pointer;
}
#slider h1{
    color: white;
    margin: auto;
    height: 90%;
    padding-top: 5%;
}
body{
    margin: 0px;
    padding: 0px;
}
/*Formularz wyszukiwaania, sortowania*/
#find{
    min-width: 433px;
    min-height: 48px;
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #171b27;
}

#substring{
    width: 28%;
    height: 4vh;
    padding-top: 1%;
    border-radius: 8px;
    padding-bottom: 10px;
    display: inline-block;
    margin: auto;
    margin-top: 0px;
}

#substring input{
    border: 1px solid #ffc404;
    border-radius: 5%;
    font-family: 'Lato';
    height: 100%;
    width: 100%;
    background-image:url(../gfx/icons/search.png); 
    background-repeat: no-repeat; 
    background-position: 95% 50%;
}

#find #sortbutton {
    width: 32px;
    height: 32px;
    padding-right: 10%;
    cursor:pointer;
}
#find #basketbutton{
    width: 32px;
    height: 32px;
    padding-left: 10%;
    cursor:pointer;
}

#sort *{
    padding-right: 10px;
    margin-right: 10px;
}

#sort{
    font-family: 'Lato';
    color: white;
    min-width: 433px;                        /*min-height: 48px;*/
    display: none;                        /*display: flex;*/
    height: 0px;                    /*w animacji bedzie przesuawać się do 10vh*/
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #171b27;
}
.sortShow{
    animation: sortsh 0.5s;
    font-family: 'Lato';
    color: white;
    min-width: 433px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #171b27;
}

@keyframes sortsh{
    from{ 
        height: 0px;
        display: flex;
    }
    to{
        height: 10vh;
        display: flex;
        min-height: 48px;
    }
}
@-webkit-keyframes sortsh{
    from{ 
        height: 0px;
        display: flex;
    }
    to{
        height: 10vh;
        display: flex;
        min-height: 48px;
    }
}

#prompt{
    font-family: "Lato";
   width: 70%;
   height: 40vh;
   z-index: 10;
   border-radius: 8px;
   padding-bottom: 10px;
   display: inline-block;
   margin: auto;
   z-index: 4;
   margin-top: 0px;
   background-color: white;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;  
}
#middle{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;  
}

.yellowbutton{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ebb734), color-stop(1, #c7aa34));
	background:-moz-linear-gradient(top, #ebb734 5%, #c7aa34 100%);
	background:-webkit-linear-gradient(top, #ebb734 5%, #c7aa34 100%);
	background:-o-linear-gradient(top, #ebb734 5%, #c7aa34 100%);
	background:-ms-linear-gradient(top, #ebb734 5%, #c7aa34 100%);
	background:linear-gradient(to bottom, #ebb734 5%, #c7aa34 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebb734', endColorstr='#c7aa34',GradientType=0);
	background-color:#ebb734;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"Lato";
	font-size:15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #949022;
}
.yellowbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c7aa34), color-stop(1, #ebb734));
	background:-moz-linear-gradient(top, #c7aa34 5%, #ebb734 100%);
	background:-webkit-linear-gradient(top, #c7aa34 5%, #ebb734 100%);
	background:-o-linear-gradient(top, #c7aa34 5%, #ebb734 100%);
	background:-ms-linear-gradient(top, #c7aa34 5%, #ebb734 100%);
	background:linear-gradient(to bottom, #c7aa34 5%, #ebb734 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7aa34', endColorstr='#ebb734',GradientType=0);
	background-color:#c7aa34;
}

.list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    min-width: 433px;
    width: 100%;
    height: 55vh;
    min-height: 353px;
    background-color: white;
}
.list:nth-of-type(even){
    background-color: #f3f3f3;
}

.elements:nth-of-type(even){
    background-color: #f3f3f3;
}

.elements{
    overflow: hidden;
    display: inline-block;
    width: 33%;
    height: 55vh;
    min-height: 353px;
    background-color: white;
}
@media (max-width: 1331px){
    .elements{
        width: 49.8%;
    }
    .elements:nth-of-type(even){
        background-color: white;
    }
}
@media (max-width: 1012px){
    .elements{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        min-width: 433px;
        width: 100%;
        height: 55vh;
        min-height: 353px;
        background-color: white;
    }
}
.elements > .content{
    margin: 0px auto;
}

.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    min-width: 433px;
    min-height: 300px;
    background-color:  #171b27;
    border-radius: 5%;
}

.filminf{
    font-family: "Lato";
    color: white;
    width: 53%;
    height: 90%;
}

.filminf h1{
    font-size: 2em;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.filminf > span{
    display: block;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 10px;
}

#switch{
    width: 4%;
    min-width: 43px;
    height: auto;
    margin-left:9%;
    margin-top: 15px;
    cursor: pointer;
}

#footer{
    padding: 0px;
    margin: 0px;
    min-width: 433px;
    min-height: 48px;
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #171b27; 
}

.leftPanelFilm{
    display: inline-block;
    width: 30%;
    padding: 0px;
    margin: 0px;
    float: left;
    margin-top: 20px;
}

.rightPanelFilm{
    float: right;
    padding: 0px;
    margin: 0px;
    width: 69%;
    display: inline-block;
    background-color: #171b27;
    color: white;
    border-radius: 5%;
    margin-top: 20px;
}

.ShowDescription{
    visibility: hidden;
}